[submodule "vim/pack/colors/start/badwolf"]
	path = vim/pack/colors/start/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule "vim/pack/colors/start/gruvbox"]
	path = vim/pack/colors/start/gruvbox
	url = git@github.com:morhetz/gruvbox
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree
[submodule ".vim/pack/colors/start/gruvbox"]
	path = .vim/pack/colors/start/gruvbox
	url = git@github.com:morhetz/gruvbox
